<div data-role="view" data-title="Revista" data-layout="main" data-model="app.revista" data-show="app.revista.onShow" data-after-show="app.revista.afterShow">
    <!-- START_CUSTOM_CODE_revista -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <iframe src="components/home/index.html" frameborder="0" style="height:100vh;width:100%">
    </iframe>
    <!-- END_CUSTOM_CODE_revista -->
</div>